<h class="mt-4">

    <div class="trash">
        <h2>My Course</h2>
        <a href="/me/trash/courses">Courses Deleted</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">slug</th>
                <th scope="col">time Create</th>
                <th style="text-align: center;" scope="col"> action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td colspan="1">{{this.name}}</td>
                <td>{{this.slug}}</td>
                <td>{{#if this.createdAt}}{{this.createdAt}}{{else}}empty{{/if}}</td>
                <td>
                    <a class="me-2" href="/courses/{{this._id}}/edit">edit</a>

                    <a id="btn-delte" class="ms-2 btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-course-modal" href="/courses/{{this._id}}/delete">delete</a>
                </td>
            </tr>

            {{else}}
            <!-- Message to show when there are no courses -->
            <tr>
                <td colspan="5" style="text-align: center;">You have not posted any courses yet.<a
                        href="/courses/create">Post Your Course</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</h>
{{!-- delet alert --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="confirm-delete-model"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-delete-model">Delete Alert</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <P>Are you sure to remove this course?</P>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="btn-delete-model" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
{{!-- delete form --}}
<form method="POST" name="delet-form" id="form-delete"></form>
<script>
    var courseId;

    var confirmmd = document.getElementById('delete-course-modal');
    var deleteForm = document.getElementById('form-delete');

    confirmmd.addEventListener('show.bs.modal', function (event) {
        var id = event.relatedTarget.getAttribute('data-id');
        courseId = id || ''; // Set courseId to id or an empty string
    });

    var btndelte = document.getElementById('btn-delete-model');

    btndelte.addEventListener('click', function () {
        deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
        courseId ? deleteForm.submit() : alert('CourseId is null or empty. Form not submitted.');
    });
</script>